@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

:root {
    --primary: #abd373;
    --secondary: #259b3bd8;
    --heard: #e72838;
    --white: #fff;
    --gray: #8d94a7;
    --shadow: #7f89a19a;
    --black: #000;
    --text: #222;
    --text-light: #706f6f;
    --yellow: #FDAE5C;
    --overlay: rgba(19, 39, 57, 0.8);
    --nav-product: #259b3bd8;
    --testimonial-bg: #dcdcdc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
    line-height: 1.3;
    scroll-behavior: smooth
}

body {
    background: var(--white);
    color: var(--text);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

ul li {
    list-style-type: none
}

a {
    color: var(--text);
    text-decoration: none;
    text-transform: capitalize
}

h1 {
    font-family: 'Charm', cursive;
    font-weight: bold;
}