/*-----------------------------------
    PC low & Tablet large resolution
-----------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {}

/*-----------------------------------
<= Tablet resolution 
-----------------------------------*/
@media (max-width: 1199px) {}

@media (max-width: 991px) {

    /* navbar */
    .navbar-left a {
        width: 80px;
        height: 50px;
    }

    .navbar-right {
        display: none;
    }

    .navbar-mid {
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: 25px;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }


    /* footer */
    .footer {
        text-align: center;
        background-size: unset;
    }
}

/*------------------------------------
    Tablet
----------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {}

/*------------------------------------
    Mobile & Mobile landscape
----------------------------------*/
@media (max-width: 767px) {
    .navbar {
        padding: 0 10px;
    }

    .navbar-mobile {
        width: 60%;
    }
}

@media (max-width:575px) {}